.get-started {
    display: grid;
    grid-template-columns: 50px [materials-s] 400px [materials-e instructions-s] 1fr [instructions-e] 50px;
    grid-row: content-s/content-e;
    grid-column: 1/-1;

    &__title {
        text-align: center;
        font-size: 40px;
        grid-column: 1/-1;
    }

    &__description {
        text-align: center;
        font-size: 30px;
        padding-right: 100px;
        padding-left: 100px;
        grid-column: 1/-1;
    }

    &__button {
        text-align: center;
        padding: 15px;
        grid-column: 1/-1;

        &__start {
            text-decoration: none;
            width: 243px;
           
            background-color: #00CB79;
    
            margin: 2px 0;
    
            border: solid 1px transparent;
            border-radius: 20px;
            margin-top: 15px;
    
            padding: 0.5em 1em;
            color: #ffffff;
            font: inherit;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
        }
              

        &__start:hover,
        .register-button:focus {
            color: #00CB79;
            border-color: currentColor;
            background-color: white;
        }

        &__start:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
            0 0 0 1.5px rgba(255, 105, 180, 0.5);
        }
    }

    &__instructions {
        display: grid;
        grid-column: 1/-1;
        text-align: center;

        &__materials {
            // grid-column: materials-s/materials-e;
            text-align: center;
            h1 {
                font-size: 25px;
            }
        }

        &__setup {
            grid-column: instructions-s/instructions-e;
            display: grid;
            text-align: center;
            align-self: center;

            h1 {
                font-size: 25px;
            }
        }   
    }
}

.mb-5 {
    h1, p {
        text-align: center;
        padding-top: 15px;
    }

    .col {
        text-align: right;
    }

    .links {
        ul {
            padding-left: 0px;
            ol {
                padding-left: 0px;
                text-align: left;

                a {
                    text-align: left;
                }
            }
        }
    }
}