.get-started {
    display: grid;

    &__title {
        font-size: 50px;
        margin-bottom: 15px;
        
    }

    &__description {
        text-align: center;
        font-size: 30px;
        padding-right: 100px;
        padding-left: 100px;
    }

    &__button {
        text-align: center;
        padding: 15px;

        &__start {
            text-decoration: none;
            width: 243px;
           
            background-color: #00CB79;
    
            margin: 2px 0;
    
            border: solid 1px transparent;
            border-radius: 20px;
            margin-top: 15px;
    
            padding: 0.5em 1em;
            color: #ffffff;
            font: inherit;
            font-size: 20px;
            font-weight: bold;
            outline: none;
            cursor: pointer;
        }
              

        &__start:hover,
        .register-button:focus {
            color: #00CB79;
            border-color: currentColor;
            background-color: white;
        }

        &__start:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
            0 0 0 1.5px rgba(255, 105, 180, 0.5);
        }
    }
}

.mb-5 {
    h1, p {
        text-align: center;
        padding-top: 15px;
    }

    .col {
        text-align: right;
    }

    .links {
        ul {
            padding-left: 0px;
            ol {
                padding-left: 0px;
                text-align: left;

                a {
                    text-align: left;
                }
            }
        }
    }
}